.details
{
    background-color: #FFF;
    color: #333;
    box-shadow: 0 0 10px 0 rgba( 0,0,0,.4 );
    border-radius: 3rem;
    padding: 2rem;
    position: relative;
    z-index: 2;
    animation: 0.3s pull-up both ease-out .2s;
}