.pokedex-view {
  display: flex;
  flex-wrap: wrap;
}

.pokedex-view > div {
  flex-basis: 100%;
  height: auto;
}

@media screen and (min-width: 800px) {
  .pokedex-view > div {
    flex-basis: 50%;
    height: 30vh;
  }
}

@media screen and (min-width: 1200px) {
  .pokedex-view > div {
    flex-basis: 33%;
    height: 45vh;
  }
}

@media screen and (min-width: 1920px) {
  .pokedex-view > div {
    flex-basis: 25%;
    height: 50vh;
  }
}
